* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    src: local(''),
        url('../../fonts/inter-v12-latin_cyrillic-300.woff2') format('woff2'),
        url('../../fonts/inter-v12-latin_cyrillic-300.woff') format('woff');
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    src: local(''),
        url('../../fonts/inter-v12-latin_cyrillic-600.woff2') format('woff2'),
        url('../../fonts/inter-v12-latin_cyrillic-600.woff') format('woff');
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    src: local(''),
        url('../../fonts/inter-v12-latin_cyrillic-500.woff2') format('woff2'),
        url('../../fonts/inter-v12-latin_cyrillic-500.woff') format('woff');
}

@font-face {
    font-family: 'Himalaya';
    font-style: normal;
    font-weight: 500;
    src: local(''),
        url('../../fonts/himalaya') format('ttf'),
}


// ================ Переменные для шрифтов

// Для свойства font-family
$ff-primary: "Inter", Verdana, sans-serif;
// $ff-secondary: можно добавить, если будет несколько шрифтов

// Для свойства font-weight
$fw-light: 300;
$fw-meduim: 500;
$fw-bold: 600;

// Для свойства font-size
$fs-small: 1rem;
$fs-medium: 1.25rem;
$fs-large: 1.875rem;

// Для свойства line-height
$lh-small: 100%;
$lh-medium: 120%;
$lh-large: 130%;

// ================ Миксин для шрифтов

@mixin font($font-size, $line-height: $lh-medium, $font-weight: $fw-meduim, $font-family: $ff-primary, ) {
    font-family: $font-family;
    font-weight: $font-weight;
    font-size: $font-size;
    line-height: $line-height;
}

// Заголовки секций-блоков h2, кроме h1, 30px
.title {
    @include font($fs-large, $lh-large, $fw-bold);
    text-transform: uppercase;
}

// Небольшие текстовые элементы, мелкие подписи, p, span, 16px
.text {
    @include font($fs-small, $lh-medium, $fw-light);
}

// Заголовки карточек, текст для кнопок, т.д. 20px
.small-title {
    @include font($fs-medium);
}

.wrapper {
    padding: 20px;
}

.btn {
border: 0.5px solid rgb(18, 18, 18);
border-radius: 20px;

background-color: #F1F1F1;
}
/* styles for блок-хедер START*/
/* styles for блок-хедер END*/

/* styles for блок-приветствие START*/
.welcome {
    max-width: 100%;
    height: auto;
    background-image: url(./assets/images/model.jpg);

    &__slogan {
        @include font(2.3em, $lh-large, $fw-bold);
        /* font-family: Georgia, 'Times New Roman', Times, serif;*/
        font-family: Himalaya, serif;
        text-align: center;

    }

    &__text {
        @include font($fs-medium, $lh-medium, $fw-meduim);
        position: absolute;
        top: 58%;
        z-index: 1;
        color: white;
        max-width: 86%;
        text-align: start;
        margin-left: 1rem;
        text-shadow: 3px 0 3px #0b0b0b;
    }

    &__image_model {
        width: 100%;
        margin-top: 20px;
        border-radius: 2%;
    }
}

/* styles for блок-приветствие END*/

/* srtyles for блок-про производство START*/
.workshop {
    max-width: 100%;
    height: auto;

    &__text {
        margin-top: 20px;
    }

    &__images {

        &_img1 {
            width: 100%;

            margin-top: 20px;

            border-radius: 2%;
        }

        &_img2 {
            display: none;
        }

        &_img3 {
            width: 100%;

            margin-top: 20px;

            border-radius: 2%;
        }
    }
}

/* styles for блок-про производство END*/

/* srtyles for блок-витрина START*/
/* styles for блок-витрина END*/

/* srtyles for блок-отзывы START*/
.opinions {
    max-width: 100%;
    height: auto;

    &__container-content {
        border-bottom: 1px solid #747272;
    }

    &__content {
        margin: 20px 0;
        padding: 15px;

        border-radius: 2%;

        background-color: #F1F1F1;
    }

    &__img {
        float: left;

        margin-right: 10px;
        margin-top: 10px;

        border-radius: 50%;
    }

    &__title {
        padding: 15px;
    }

    &__text {
        padding-right: 10px;
    }
}

/* styles for блок-отзывы END*/

/* styles for блок-футер START*/
.footer{
    background-color: #656565;
    color: #F1F1F1;
    
    width: 100vw;
    height: fit-content;
    
    text-align: center;
    
    &__link {
    all: unset;
    
    &:focus{
    text-decoration: underline;
    }
    }
    
    &__information-block{
    margin: 2rem 0 0 0;
    }
    
    &__item{
    margin: 1rem 0 0 0;
    }
    
    &__icons-block{
    margin: 3rem 0 ;
    
    display: flex;
    justify-content: center;
    }
    
    &__icon{
    margin: 0 2rem 0 0;
    }
    }
    
    .fieldset{
    all: unset;
    
    margin: 1rem 0 0 0;
    
    width: 70vw;
    
    &__legend{
    margin: 0 0 3rem 0;
    }
    
    &__input{
    all: unset;
    
    background-color: #F1F1F1;
    color: black;
    
    margin: 0 0 3rem 0;
    background-clip: padding-box;
    
    border: 1px solid #bdbdbd;
    border-radius: 0.25rem;
    
    height: calc(2.25rem + 2px);
    width: 100%;
    
    font: inherit;
    }
    
    &__input::placeholder{
    text-align:left;
    padding: 1rem;
    }
    
    &__input:focus{
    box-shadow: 0 0 0 0.2rem #CECECE;
    }
    
    &__btn{
    all: unset;
    
    border-radius: 0.25rem;
    border: 1px solid #bdbdbd;
    
    background-color: #F1F1F1;
    color: black;
    
    width:fit-content;
    
    text-align: center;
    font: inherit;
    
    padding: 0.8rem 1rem;
    margin: 0 0 3rem 0;
    
    text-decoration: none;
    }
    
    &__btn:active {
    background-color: #CECECE;
    }
    
    }
/* styles for блок-футер END*/
