@charset "UTF-8";
@media screen and (min-width: 1024px) {
  .wrapper {
    max-width: 1680px;
    margin: 0 auto;
    padding: 40px;
  }
  /* styles for блок-хедер START*/
  .header {
    max-width: 100%;
    height: 150px;
    background: #d4d4d2;
    color: black;
  }
  .header__burger {
    display: none;
  }
  .header__item {
    color: black;
    font-family: "Inter", Verdana, sans-serif;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 120%;
  }
  .header__item {
    display: block;
  }
  .header__item_choker {
    color: black;
    font-family: "Inter", Verdana, sans-serif;
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 120%;
  }
  .header__item_earrings {
    color: black;
    font-family: "Inter", Verdana, sans-serif;
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 120%;
  }
  .header__item_bracelet {
    color: black;
    font-family: "Inter", Verdana, sans-serif;
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 120%;
  }
  .header__item_podveski {
    color: black;
    font-family: "Inter", Verdana, sans-serif;
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 120%;
  }
  .header__item_contact {
    color: black;
    font-family: "Inter", Verdana, sans-serif;
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 120%;
  }
  .header__item_delivery {
    color: black;
    font-family: "Inter", Verdana, sans-serif;
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 120%;
  }
  .header__logo-img {
    height: 130px;
    z-index: 1;
    position: absolute;
    top: 10px;
    right: 10px;
    bottom: 10px;
    border-radius: 10px;
  }
  /* styles for блок-хедер END*/
  /* styles for блок-приветствие START*/
  .welc__slogan {
    text-align: center;
    font-family: "Inter", Verdana, sans-serif;
    font-weight: 600;
    font-size: 1.875rem;
    line-height: 120%;
    padding: 50px 0px 30px 0;
  }
  .welc__slogan_as {
    text-align: center;
    font-family: "Inter", Verdana, sans-serif;
    font-weight: 600;
    font-size: 1.875rem;
    line-height: 120%;
    padding: 50px 0px 30px 0;
    text-transform: uppercase;
  }
  .welcome {
    width: 100%;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 1fr;
  }
  .welcome__wrapper {
    width: 100%;
    grid-column: 1/2;
    grid-row: 1/2;
    align-content: center;
  }
  .welcome__text_first {
    font-family: "Inter", Verdana, sans-serif;
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 120%;
    color: black;
    max-width: 95%;
    max-height: 50%;
    margin-left: 0rem;
  }
  .welcome__text_second {
    font-family: "Inter", Verdana, sans-serif;
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 120%;
    color: black;
    max-width: 95%;
    max-height: 50%;
    margin-left: 0rem;
    margin-top: 10vh;
    margin-bottom: 0rem;
  }
  .welcome__image {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  /* styles for блок-приветствие START*/
  /* styles for блок-приветствие END*/
  /* srtyles for блок-про производство START*/
  .workshop {
    height: auto;
  }
  .workshop__small-title {
    text-align: center;
    padding-top: 30px;
    margin-top: 30px;
    letter-spacing: 0.2rem;
  }
  .workshop__text {
    text-align: center;
    margin-top: 20px;
  }
  .workshop__images {
    display: flex;
    gap: 15px;
    max-width: 100%;
  }
  .workshop__images_img1 {
    flex: 1;
    width: 33%;
    margin-top: 20px;
  }
  .workshop__images_img2 {
    display: block;
    flex: 1;
    width: 33%;
    margin-top: 20px;
  }
  .workshop__images_img3 {
    flex: 1;
    width: 33%;
    margin-top: 20px;
  }
  /* styles for блок-про производство END*/
  /* srtyles for блок-витрина START*/
  /* styles for блок-витрина END*/
  /* srtyles for блок-отзывы START*/
  .opinions {
    max-width: 100%;
  }
  .opinions__wrapper {
    display: flex;
    gap: 20px;
  }
  .opinions__container-content {
    width: 32%;
    border-bottom: none;
  }
  .opinions__content {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto 15vh;
    align-items: center;
    background-color: #F1F1F1;
  }
  .opinions__small-title {
    text-align: center;
  }
  .opinions__img {
    grid-column: 1/2;
    grid-row: 1/2;
    border-radius: 50%;
  }
  .opinions__title {
    grid-column: 2/3;
    grid-row: 1/2;
    padding: 20px 10px;
  }
  .opinions__text {
    grid-column: 1/3;
    grid-row: 2/3;
    padding-right: 10px;
  }
  /* styles for блок-отзывы END*/
  /* srtyles for блок-футер START*/
  /* styles for блок-футер END*/
}/*# sourceMappingURL=desktop-styles.css.map */