// ================ Переменные для шрифтов

// Для свойства font-family
$ff-primary: "Inter", Verdana, sans-serif;
// $ff-secondary: можно добавить, если будет несколько шрифтов

// Для свойства font-weight
$fw-light: 300;
$fw-meduim: 500;
$fw-bold: 600;

// Для свойства font-size
$fs-small: 1rem;
$fs-medium: 1.25rem;
$fs-large: 1.875rem;

// Для свойства line-height
$lh-small: 100%;
$lh-medium: 120%;
$lh-large: 130%;

// ================ Миксин для шрифтов

@mixin font($font-size, $line-height: $lh-medium, $font-weight: $fw-meduim, $font-family: $ff-primary, ) {
    font-family: $font-family;
    font-weight: $font-weight;
    font-size: $font-size;
    line-height: $line-height;
}

@media screen and (min-width: 1024px) {

    .wrapper {
        max-width: 1680px;

        margin: 0 auto;
        padding: 40px;
    }




    /* styles for блок-хедер START*/
    .header {
        max-width: 100%;
        height: 210px;
        background: #d4d4d2;
        color: black;

        &__burger {
            display: none;
        }

        &__primary {
            display: block;
        }

        &__menu__item {

            color: black;
            @include font($fs-medium, $lh-medium, $fw-meduim);
        }


        &__logo-img {
            height: 110px;
            z-index: 1;
            position: absolute;
            top: 10px;
            right: 10px;
            bottom: 10px;
            border-radius: 10px;
        }
    }


    /* styles for блок-хедер END*/

    /* styles for блок-приветствие START*/

    .welcome {

        width: 100%;
        height: 100%;
        position: relative;
        z-index: 2;


        &__image {
            width: 100%;
            margin-top: 20px;
        }

        &__slogan {
            text-align: center;
            @include font($fs-medium, $lh-medium, $fw-bold);
            padding: 50px 0px 30px 0;
        }

        &__slogan_as {
            text-align: center;
            @include font($fs-medium, $lh-medium, $fw-bold);
            padding: 50px 0px 30px 0;
            text-transform: uppercase;
        }

        &__wrapper {
            position: absolute;
            padding: 0px 0px 0px 20px;
            width: 100%;
            bottom: 10px;
        }

        &__text_first {
            @include font(1.3rem, $lh-medium, $fw-meduim);
            color: white;
            max-width: 90%;
            max-height: 50%;
            text-align: start;
            margin-left: 0rem;
            text-shadow: 1.5px 1.5px 3px #070707;
        }

        &__text_second {
            @include font(1.3rem, $lh-medium, $fw-meduim);
            color: white;
            max-width: 90%;
            max-height: 50%;
            text-align: start;
            margin-left: 0rem;
            margin-top: 2vh;
            margin-bottom: 0rem;
            text-shadow: 1.5px 1.5px 3px #070707;
        }


    }

    /* styles for блок-приветствие END*/

    /* srtyles for блок-про производство START*/
    /* styles for блок-про производство END*/

    /* srtyles for блок-витрина START*/
    /* styles for блок-витрина END*/

    /* srtyles for блок-отзывы START*/
    /* styles for блок-отзывы END*/

    /* srtyles for блок-футер START*/
    /* styles for блок-футер END*/
}